* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_2 {
  width: 100%;
  height: 2936px;
  background: rgba(249,247,240,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_15 {
  width: 665px;
  height: 216px;
  background: url("../images/v2_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 258px;
  left: 915px;
  overflow: hidden;
}
.v2_13 {
  width: 665px;
  height: 216px;
  background: rgba(125,122,188,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_14 {
  width: 592px;
  color: rgba(249,247,240,1);
  position: absolute;
  top: 20px;
  left: 37px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_11 {
  width: 445px;
  height: 140px;
  background: url("../images/v2_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 340px;
  overflow: hidden;
}
.v2_3 {
  width: 385px;
  color: rgba(34,34,34,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Orpheus Pro;
  font-weight: Bold;
  font-size: 55px;
  opacity: 1;
  text-align: left;
}
.v2_7 {
  width: 50px;
  height: 3px;
  background: rgba(34,34,34,1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 395px;
  overflow: hidden;
}
.v2_9 {
  width: 381px;
  color: rgba(34,34,34,1);
  position: absolute;
  top: 110px;
  left: 0px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_12 {
  width: 164px;
  color: rgba(101,142,156,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v2_4 {
  width: 57px;
  color: rgba(165,36,34,1);
  position: absolute;
  top: 50px;
  left: 340px;
  font-family: Gastromond;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2_56 {
  width: 100%;
  height: 460px;
  background: url("../images/v2_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1916px;
  left: 340px;
  overflow: hidden;
}
.v2_48 {
  width: 100%;
  height: 460px;
  background: rgba(165,36,34,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_55 {
  width: 287px;
  height: 81px;
  background: url("../images/v2_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 903px;
  overflow: hidden;
}
.v2_53 {
  width: 287px;
  height: 81px;
  background: rgba(249,247,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v2_54 {
  width: 190px;
  color: rgba(165,36,34,1);
  position: absolute;
  top: 22px;
  left: 49px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2_57 {
  width: 100%;
  height: 460px;
  background: url("../images/v2_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1396px;
  left: 340px;
  overflow: hidden;
}
.v2_58 {
  width: 100%;
  height: 460px;
  background: rgba(125,122,188,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_59 {
  width: 287px;
  height: 81px;
  background: url("../images/v2_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 903px;
  overflow: hidden;
}
.v2_60 {
  width: 287px;
  height: 81px;
  background: rgba(249,247,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v2_61 {
  width: 184px;
  color: rgba(125,122,188,1);
  position: absolute;
  top: 22px;
  left: 52px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2_62 {
  width: 419px;
  height: 390px;
  background: url("../images/v2_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 74px;
  overflow: hidden;
}
.v2_63 {
  width: 100%;
  height: 460px;
  background: url("../images/v2_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 876px;
  left: 340px;
  overflow: hidden;
}
.v2_64 {
  width: 100%;
  height: 460px;
  background: rgba(165,36,34,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_65 {
  width: 287px;
  height: 81px;
  background: url("../images/v2_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 903px;
  overflow: hidden;
}
.v2_66 {
  width: 287px;
  height: 81px;
  background: rgba(249,247,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v2_67 {
  width: 184px;
  color: rgba(165,36,34,1);
  position: absolute;
  top: 22px;
  left: 52px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2_68 {
  width: 683px;
  height: 156px;
  background: url("../images/v2_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 74px;
  overflow: hidden;
}
.v2_10 {
  width: 402px;
  color: rgba(165,36,34,1);
  position: absolute;
  top: 69px;
  left: 916px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2_69 {
  width: 517px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2097px;
  left: 414px;
  font-family: Orpheus Pro;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v13_6 {
  width: 100%;
  height: 258px;
  background: url("../images/v13_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2678px;
  left: 0px;
  overflow: hidden;
}
.v11_2 {
  width: 100%;
  height: 258px;
  background: rgba(75,80,67,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_5 {
  width: 55px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 1122px;
  overflow: hidden;
}
.v11_6 {
  width: 50px;
  height: 50px;
  background: rgba(249,247,240,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v13_2 {
  width: 501px;
  color: rgba(249,247,240,1);
  position: absolute;
  top: 95px;
  left: 340px;
  font-family: Orpheus Pro;
  font-weight: Bold;
  font-size: 55px;
  opacity: 1;
  text-align: left;
}
.v13_3 {
  width: 55px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 1236px;
  overflow: hidden;
}
.v13_4 {
  width: 55px;
  height: 53px;
  background: rgba(249,247,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v13_5 {
  width: 229px;
  color: rgba(249,247,240,1);
  position: absolute;
  top: 107px;
  left: 1351px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
